        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="bg-image">
            <img src="images/bg-pic.jpg" alt="">
        </div>

        <div id="bg-container">

            <div class="header-container">
                <div id="heading" class="wrapper clearfix">
                    <nav id="nav">
                    <ul>
                      <li><a href="#savethedate">SAVE THE DATE</a></li>
                      <li><a href="#provide_info">YOUR INFO</a></li>
                      <li><a href="#schedule">SCHEDULE</a></li>
                      <li><a href="#accomidations">ACCOMIDATIONS</a></li>
                      <li><a href="#directions">DIRECTIONS</a></li>
                    </ul>

                    </nav>
                </div>
            </div>

            <div class="main-container">
                <div class="main wrapper clearfix">

                    <header>
                        <div id="introtext">
                            <span class="head-sarah">Sarah</span>
                            <span class="head-brad">&nbsp;
                                <span class="amp">&amp;</span> 
                                ERIC
                            </span>
                            <div class="date">AUGUST 31<sup>st</sup>, 2014</div>

                        </div>
                    </header>

                    <div class="clearfix"></div>

                    <section id="savethedate" class="clearfix">
                      <h1>Save the Weekend</h1>
                      <div class="column_full">
                        <% if @person.persisted? %>
                          Thanks for giving us your information!
                        <% else %>
                          Welcome to our website!
                          Please <a href="#provide_info">Give us your Information</a>
                        <% end %>
                      </div>
                    </section>

                    <div class="clearfix"></div>

                    <section id="provide_info" class="clearfix">
                      <% if @scroll_to_form && @person.persisted? && !params[:guest] %>
                        <h1>Thanks!</h1>
                        <div class="column_full">
                          We will be in touch. 
                          <!--You can always come back here by going here: <a href="<%= "#{request.protocol}#{request.host_with_port}#{@person.url_suffix}" %>"><%= "#{request.protocol}#{request.host_with_port}#{@person.url_suffix}" %></a> - This information has also been emailed to you.-->
                        </div>
                      <% else %>
                        <h1>Tell us about yourself.</h1>
                        <div class="column_full">
                          <%= simple_form_for @person do |f| %>
                            <%= f.input :first_name, :value => @person.first_name %>
                            <%= f.input :last_name, :value => @person.last_name %>
                            <%= f.input :email, :value => @person.email %>
                            <%= f.input :address_line_1, :value => @person.address_line_1 %>
                            <%= f.input :address_line_2, :value => @person.address_line_2 %>
                            <%= f.input :address_city, :value => @person.address_city %>
                            <%= f.input :address_state, :value => @person.address_state, :collection => us_states %>
                            <%= f.input :address_zip, :value => @person.address_zip %>
                            <%= f.input :phone_number, :value => @person.phone_number %>
  
                            <%= f.button :submit, 'Submit Information' %>
                          <% end %>
                        <% end %>
                      </div>
                      </section>

                      <div class="clearfix"></div>

                      <section id="schedule" class="clearfix">
                      <div class="column left">
                        <h2>Welcome BBQ</h2>
                        Evening, Saturday, August 30, 2014
                        Wedding Ceremony & Reception
                        Daytime, Sunday, August 31, 2014
                      </div>
                      <div class="column right">
                        <h2>Reception</h2>
                        West Branch Resort
                        Hancock, NY

                        Sunday, August 31, 2014
                        Time TBD
                        Reception to follow
                      </div>

                      </section>

                      <div class="clearfix"></div>
                      
                      <section id="accomidations" class="clearfix">
                      <div class="column left">
                        <h2>Onsite (Preferred)</h2>
                        The West Branch Resort
                        150 Faulkener Rd
                        Hancock, NY 13783
                        latitude: 42.004118, longitude: -75.371876
                        Phone: (800) 201-2557 
                        website: <a href="http://www.westbranchresort.com">http://www.westbranchresort.com</a>
                      </div>
                      <div class="column right">
                        Accommodation Details: There are 1-bedroom and 2-bedroom cabins at the resort, where we hope all our guests will join us for a weekend of celebration. They combine modern amenities like A/C, Wi-Fi, and a full kitchen with old-fashioned porches and fire pits. Many of the cabins overlook a (cold) river for fishing, and there is skeet shooting on site for those who want to try their aim. Sunbathers can cool off in the pool. Breakfast is included and served every morning at the resort’s restaurant, which will also be open for other meals. 
                        Ask the resort about the special rates and offers we have in place for our guests, and they or the website should be able to answer additional questions.
                      </div>
                      </section>

                      <div class="clearfix"></div>
                      
                      <section id="directions" class="clearfix">
                        <div class="column full">
                          For a ful list of directions, <a href="http://www.westbranchresort.com/directions.html">http://www.westbranchresort.com/directions.html</a>
                          <h3>From New York City</h3>
                          Take the Major Degan North to the New York Throughway (I-87). Take I-87 north to Exit 16 (Harriman Exit). Pay toll and travel west on Route 17. Approximately 5 miles past Exit 87 (Hancock Exit) watch for turn off for Hale Eddy. Go into left turn lane, and turn left off Route 17 and proceed across the Hale Eddy Bridge. Turn left just as you come off the bridge onto the dirt road (Faulkener Road). Take Faulkner Road 3/4 of a mile to West Branch Angler Resort.
                        </div>

                      </section>
                      
                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div> <!-- #bg-container -->
      </body>
</html>
